main{
    height: auto;
    width: 1200px;
}
.menu1{
    height: 200px;
    width: auto;
    background-color: aqua;
}
.strona1,.strona2,.strona3{
    height: 200px;
    width: 400px;
    background-color: black;
    color: white;
    font-size: 50px;
}
.strona1,.strona2,.strona3:hover{
    height: 200px;
    width: 400px;
    background-color: red;
    color: white;
    font-size: larger;
}
.menu2{
    position: absolute;
    width: 200px;
    top: 200px;
}
.strona{
    position: absolute;
    left: 100px;
    top: 200px;
}